body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #004000;
    line-height: 24px;
    font-size: 18px;
}
h1 {
    font-family: "Cherry Swash";
}
a, a:visited, a:hover, a:active {
    color: white;
}
input[type="radio" i] {
    margin: 2%;
}
.container {
    width: 80%;
    margin: 10px auto;
    background-color: #1b5996;
    color: white;
    min-width: 340px;
    padding: 1% 5% 5% 5%;
}
footer.container {
    padding-bottom: 1%;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 30px auto;
    opacity: .7;
}
.agreeLabel {
    display: inline-block;
    width: 70px;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    margin: 1%;
}
#submit {
    display: block;
    margin: auto;
    width: 140px;
    height: 40px;
    border-radius: 13px;
    font-size: 28px;
    background-color: greenyellow;
    border-color: #004000;
    color: #004000;
}
#modal {
    display: none;
}
#modal, .modalBG {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modalBG {
    background-color: black;
    text-align: center;
    opacity: .6;
}
.modalContent {
    background-color: white;
    color: #1b5996;
    z-index: 5;
    position: relative;
    padding: 4%;
    margin: 10% auto;
    width: 55%;
    min-height: 150px;
    min-width: 150px;
    border-radius: 20px;
}