body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #012701;
    line-height: 1.5em;
    font-size: 1em;
}
h1 {
    font-family: "Cherry Swash";
}
h3 {
    font-weight: bold;
    font-size: 2em;
    margin: 4%;
}
a, a:visited, a:hover, a:active {
    color: white;
}
input[type="radio" i] {
    margin: 2%;
}
.container {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 2% auto;
    background-color: #1b5996;
    color: white;
    min-width: 375px;
    padding: 1% 5% 5% 5%;
    font-size: 1.7em;
    line-height: 2em;
}
footer.container {
    padding-bottom: 1%;
    text-align: center;
    color: white;
    font-size: .8em;
    margin: 3% auto;
    opacity: .7;
}
.navButton {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    font-size: small;
    line-height: 1em;
    text-decoration: underline;
    cursor: pointer;
    color: lightblue;
}
.question {
    display: block;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
    margin: 5% 0;
    background-color: #00408b;
    padding: 3%;
    border-radius: 10px;
}
.agreeLabel {
    display: inline-block;
    width: 70px;
    text-align: center;
    font-size: .5em;
    line-height: 100%;
    margin: 1%;
}
#submit {
    display: block;
    margin: auto;
    padding: 1% 3%;
    border-radius: 13px;
    font-size: 1.2em;
    background-color: greenyellow;
    border-color: #004000;
    color: #004000;
}
#modal {
    display: none;
}
#modal, .modalBG {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#modal .modalBG {
    background-color: black;
    text-align: center;
    opacity: .6;
}
#modal .modalContent {
    text-align: center;
    background-color: white;
    color: #1b5996;
    z-index: 5;
    position: relative;
    padding: 4%;
    margin: 4% auto;
    width: 55%;
    min-height: 150px;
    min-width: 150px;
    border-radius: 20px;
}
#modal .friendImage {
    width: 100%;
    margin: 20px 0;
}
#modal .closeButton {
    text-decoration: underline;
    position: absolute;
    top: 2px;
    right: 20px;
    cursor: pointer;
    font-size: .8em;
    color: #888;
}